<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Summary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        body {
            background: #fdfdfd;
        }

        @font-face {
            font-family: Segoe-UI;
            src: url(SEGOEUI.TTF);
        }

        .main-section {
            background-color: #FCFCFC;
        }

        .bnr-img {
            width: -webkit-fill-available;
            height: auto;
        }

        .footer {
            background-color: #363636;
        }

        .text-white {
            color: white;
        }

        .edit-text {
            color: #016fd0;
            display: block;
            text-align: right;
        }

        .form-control {
            background: transparent;
        }

        .next-btn {
            background: #C94F6E;
            border: none;
            padding: 10px 40px;
            color: #FDFCED;
        }

        .next-btn a {
            color: #FDFCED;
        }

        .main-content .wizard-form .progressbar-list::before {
            content: " ";
            background-color: rgb(155, 155, 155);
            border: 10px solid #fff;
            border-radius: 50%;
            display: block;
            width: 30px;
            height: 30px;
            margin: 9px auto;
            box-shadow: 1px 1px 3px #606060;
            transition: all;
        }

        .main-content .wizard-form .progressbar-list::after {
            content: "";
            background-color: rgb(155, 155, 155);
            padding: 0px 0px;
            position: absolute;
            top: 14px;
            left: -50%;
            width: 100%;
            height: 2px;
            margin: 9px auto;
            z-index: -1;
            transition: all 0.8s;
        }

        .main-content .wizard-form .progressbar-list.active::after {
            background-color: #C94F6E;
        }

        .main-content .wizard-form .progressbar-list:first-child::after {
            content: none;
        }

        .main-content .wizard-form .progressbar-list.active::before {
            content: "";
            font-size: 11px;
            font-weight: 600;
            color: #fff;
            padding: 6px;
            background-color: white;
            border: 10px solid #C94F6E;
            box-shadow: 0 0 0 7.5px #C94F6E3b;
        }

        .w-16 {
            width: 16%;
        }

        .progressbar-list {
            color: #6f787d;
        }

        .active {
            color: #000;
        }

        /* card */
        .card img {
            width: 40px;
        }

        .card {
            border: 3px solid rgb(145 145 145);
            cursor: pointer;
        }

        .active-card {
            color: #C94F6E;
            font-weight: bold;
            border: 3px solid #C94F6E;
        }

        .form-check-input:focus {
            box-shadow: none;
        }

        .bg-color-info {
            background-color: #C94F6E !important;
        }

        .border-color {
            border-color: #ececec;
        }

        .btn {
            padding: 16px 30px;
        }

        .back-to-wizard {
            transform: translate(-50%, -139%) !important;
        }

        .bg-success-color {
            background-color: #87D185;
        }

        .bg-success-color:focus {
            box-shadow: 0 0 0 0.25rem rgb(55 197 20 / 25%);
        }

        .content-text {
            font-size: 14px;
            color: #6e727d;
        }

        .discount-price {
            font-size: 30px;
            color: #C94F6E;
        }

        .early-bid-text {
            font-size: 12px;
        }

        .original-price {
            color: #545454;
            font-size: 20px;
            text-decoration: line-through;
        }

        .quantity {
            display: flex;
            align-items: center;
            padding: 0;
            background: #f5f5f5;
            padding: 5px;
            width: 130px;
        }

        .quantity__minus,
        .quantity__plus {
            display: block;
            width: 45px;
            font-size: 25px;
            height: 35px;
            margin: 0;
            background: #C94F6E;
            text-decoration: none;
            text-align: center;
            line-height: 28px;
        }

        .quantity__minus:hover,
        .quantity__plus:hover {
            background: #575b71;
            color: #fff;
        }

        .quantity__minus {
            border-radius: 3px 0 0 3px;
        }

        .quantity__plus {
            border-radius: 0 3px 3px 0;
        }

        .quantity__input {
            width: 45px;
            height: 35px;
            margin: 0;
            padding: 0;
            text-align: center;
            border: none;
            background: #f5f5f5;
            color: black;
            font-weight: 600;
        }

        .quantity__minus:link,
        .quantity__plus:link {
            color: #FDFCED;
        }

        .quantity__minus:visited,
        .quantity__plus:visited {
            color: #FDFCED;
            font-weight: 900;
        }

        .fs-18 {
            font-size: 18px;
        }

        .fs-20 {
            font-size: 20px;
        }

        .text-disable {
            color: #9c9c9c;
        }

        .text-dark {
            color: black;
        }

        .bg-lightgray {
            background-color: #fdfdfd;
            border: 1px solid #c3c3c3;
            border-radius: 10px;
        }

        select {
            padding: 5px 10px;
            background: #eeeeee;
            border-radius: 5px;
            border: 1px solid #c8c7c7;
        }

        .form-check-input {
            background: white;
            border: 1px solid #c8c7c7;
        }

        .form-check-input:checked {
            background-color: #c94f6e;
            border-color: #ffffffc9;
        }

        .form-check-input {
            background: white;
            border: 3px solid #c8c7c7;
        }

        .fs-12 {
            font-size: 12px;
        }

        .required {
            color: red;
        }

        .logo-img {
            width: 100px;
            height: auto;
        }

        .payment-card {
            background: white;
            box-shadow: 0 0 8px #0000000a;
            border-radius: 10px;
            width: 500px;
            margin: auto;
            display: none;
        }

        .link-txt a {
            color: #987bf1;
            text-decoration: none;
        }

        .credit-title img {
            width: 30px;
            height: 30px;
        }

        .pay-btn {
            width: -webkit-fill-available;
            background: #c94f6e;
            border: none;
            padding: 5px;
            border-radius: 5px;
        }

        .pay-btn a {
            color: #fdfced;
        }

        .back-pay-btn {
            background: transparent;
            border: none;
            font-size: 20px;
            color: #065ba9;
        }

        @media only screen and (max-width:768px) {
            .copyright-text {
                grid-row: 2;
            }

            .d-grid {
                display: grid;
            }

            li {
                font-size: 12px;
            }

            .discount-price {
                font-size: 24px;
            }

            .original-price {
                font-size: 18px;
            }

            .quantity {
                width: 120px;
            }
        }

        @media only screen and (max-width:515px) {
            .payment-card {
                width: auto;
            }
        }

        @media only screen and (max-width:450px) {
            .btn {
                padding: 10px;
            }

            li {
                font-size: 10px;
            }

            .content-text {
                font-size: 12px;
            }
        }
    </style>
</head>

<body>
    <section class="main-section">
        <div class="container p-4">
            <div class="logo-main-div mb-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="logo-img" src="images/Asset 4.png" alt="">
                    </div>
                </div>
            </div>
            <!-- <div class="bnr-main-div">
                <div class="row">
                    <div class="col-12">
                        <img class="bnr-img" src="images/Form_Cover_for_Chanukah_Registration_4 1.png" alt="">
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- section -->
    <section>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="main-content">
                <!-- alert box -->
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8">
                        <!-- svg -->
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
                        <!-- /svg -->
                        <div class="alert alert-danger d-flex align-items-center mt-3 d-none mb-0" id="alertBox"
                            role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <div>
                                Please complete required fields
                            </div>
                        </div>
                    </div>
                </div>
                <!-- alert box -->
                <!-- row -->
                <div class="row justify-content-center pt-0" id="wizardRow">
                    <!-- col -->
                    <div class="col-md-12 text-center">
                        <!-- wizard -->
                        <div class="wizard-form py-4 my-2">
                            <!-- ul -->
                            <ul id="progressBar" class="progressbar px-lg-5 px-0">
                                <li id="progressList-1"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Select Event Package</li>
                                <li id="progressList-2"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Select Room</li>
                                <li id="progressList-3"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Package Tickets</li>
                                <li id="progressList-4"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Dining Information</li>
                                <li id="progressList-5"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Booking Summary</li>
                                <li id="progressList-6"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list">
                                    Payment</li>
                            </ul>
                            <!-- /ul -->
                        </div>
                        <!-- /wizard -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <!-- row -->
                <form action="">
                    <div class="row justify-content-center form-business">
                        <!-- col -->
                        <div class="col-md-11">
                            <h3 class="fw-bold pt-5 mb-0 text-center">Billing Summary Of</h3>
                            <h3 class="fw-bold pt-0 mb-0 text-center">All Days Event</h3>
                            <p class="fw-bold text-center">
                                <%= curentDate %>
                            </p>
                            <table class="table-responsive" width="100%">
                                <thead>
                                    <tr class="fw-bold pb-3 border-bottom">
                                        <th width="50%" class="pb-2">
                                            Room
                                        </th>
                                        <th class="text-center pb-2">
                                            Person
                                        </th>
                                        <th class="text-end pb-2">
                                            Price
                                        </th>
                                        <th class="text-end pb-2">
                                            Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% roomInfo.forEach((room, index)=> { %>
                                        <% if (room[`data_${index + 1}`].total_room> 0) { %>
                                            <tr class="pb-3 border-bottom">
                                                <td class="text-disable fw-semibold py-2">
                                                    <%= room[`data_${index + 1}`].room_name %>
                                                </td>
                                                <td class="fw-semibold text-center py-2">
                                                    <%= room[`data_${index + 1}`].total_room %>
                                                </td>
                                                <td class="text-disable fw-semibold text-end py-2">
                                                    $ <%= room[`data_${index + 1}`].room_price.toFixed(2) %>
                                                </td>
                                                <td class="text-disable fw-semibold text-end py-2">
                                                    $ <%= room[`data_${index + 1}`].total_price.toFixed(2) %>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% }); %>

                                                    <!-- Subtotal -->
                                                    <% if (totalRoomCount && totalRoomCount> 0) { %>
                                                        <tr class="pb-3 border-bottom">
                                                            <td class="fw-semibold py-2">
                                                                Subtotal
                                                            </td>
                                                            <td class="fw-semibold text-center py-2">
                                                                <%= totalRoomCount %>
                                                            </td>
                                                            <td class="text-disable fw-semibold text-end py-2">
                                                                <!-- Additional details if needed -->
                                                            </td>
                                                            <td class="fw-semibold text-end py-2">
                                                                $ <%= subTotal %>
                                                            </td>
                                                        </tr>
                                                        <% } %>


                                                            <% Object.keys(roomInnerInfo).forEach((key)=> { %>
                                                                <% if (Array.isArray(roomInnerInfo[key])) { %>
                                                                    <% roomInnerInfo[key].forEach((room)=> { %>
                                                                        <% if (room.total_price> 0) { %>
                                                                            <tr class="pb-3 border-bottom">
                                                                                <td
                                                                                    class="text-disable fw-semibold py-2">
                                                                                    <%= room.room_name %>
                                                                                </td>
                                                                                <td
                                                                                    class="fw-semibold text-center py-2">
                                                                                    <%= room.person %>
                                                                                </td>
                                                                                <td
                                                                                    class="text-disable fw-semibold text-end py-2">
                                                                                    <!-- Additional details if needed -->
                                                                                </td>
                                                                                <td
                                                                                    class="text-disable fw-semibold text-end py-2">
                                                                                    $ <%= room.total_price.toFixed(2) %>
                                                                                </td>
                                                                            </tr>
                                                                            <% } %>
                                                                                <% }); %>
                                                                                    <% } %>
                                                                                        <% }); %>

                                                                                            <% function formatDate(date)
                                                                                                { const options={
                                                                                                year: 'numeric' ,
                                                                                                month: 'long' ,
                                                                                                day: 'numeric' }; return
                                                                                                new
                                                                                                Date(date).toLocaleDateString('en-US',
                                                                                                options); } %>

                                                                                                <%
                                                                                                    diningOrderResult.forEach(order=>
                                                                                                    { %>
                                                                                                    <% if
                                                                                                        (order.bet_3_11_count>
                                                                                                        0) { %>
                                                                                                        <tr
                                                                                                            class="pb-3 border-bottom">
                                                                                                            <td
                                                                                                                class="text-disable fw-semibold py-2">
                                                                                                                <%= formatDate(order.dining_date)
                                                                                                                    %>
                                                                                                                    <%= order.dining_name
                                                                                                                        %>
                                                                                                                        :
                                                                                                                        Between
                                                                                                                        3-11
                                                                                                            </td>
                                                                                                            <td
                                                                                                                class="fw-semibold text-center py-2">
                                                                                                                <%= order.bet_3_11_count
                                                                                                                    %>
                                                                                                            </td>
                                                                                                            <td
                                                                                                                class="text-disable fw-semibold text-end py-2">
                                                                                                                <!-- Additional details if needed -->
                                                                                                            </td>
                                                                                                            <td
                                                                                                                class="text-disable fw-semibold text-end py-2">
                                                                                                                $ <%=
                                                                                                                    order.bet_3_11_price
                                                                                                                    *
                                                                                                                    order.bet_3_11_count
                                                                                                                    %>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <% } %>

                                                                                                            <% if
                                                                                                                (order.above_12_count>
                                                                                                                0) { %>
                                                                                                                <tr
                                                                                                                    class="pb-3 border-bottom">
                                                                                                                    <td
                                                                                                                        class="text-disable fw-semibold py-2">
                                                                                                                        <%= formatDate(order.dining_date)
                                                                                                                            %>
                                                                                                                            <%= order.dining_name
                                                                                                                                %>
                                                                                                                                :
                                                                                                                                12+
                                                                                                                                Years
                                                                                                                                Age
                                                                                                                                Person
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        class="fw-semibold text-center py-2">
                                                                                                                        <%= order.above_12_count
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        class="text-disable fw-semibold text-end py-2">
                                                                                                                        <!-- Additional details if needed -->
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        class="text-disable fw-semibold text-end py-2">
                                                                                                                        $
                                                                                                                        <%= order.above_12_price
                                                                                                                            *
                                                                                                                            order.above_12_count
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <% } %>
                                                                                                                    <% });
                                                                                                                        %>




                                </tbody>
                            </table>
                            <table class="table-responsive ms-auto" width="30%">
                                <tbody>
                                    <% if (totalRoomCount && totalRoomCount> 0) { %>
                                        <tr class="pb-3 border-bottom">
                                            <td class="fw-bold py-2">
                                                Subtotal
                                            </td>
                                            <td class="fw-bold text-end py-2">
                                                $ <%= subTotal %>
                                            </td>
                                        </tr>
                                        <% } %>

                                            <tr class="pb-3 border-bottom">
                                                <td class="fw-semibold py-2">
                                                    Total
                                                </td>
                                                <td class="fw-semibold text-end py-2">
                                                    $ <%= totalBillAmount %>
                                                </td>
                                            </tr>
                                            <tr class="pb-3">
                                                <td class="fw-bold py-2">
                                                    Total Amount
                                                </td>
                                                <td class="fw-semibold text-end py-2">
                                                    $ <%= totalBillAmount %>
                                                </td>
                                            </tr>
                                </tbody>
                            </table>
                            <h3 class="my-3 fw-bold">
                                Payment methods
                            </h3>
                            <div class="form-check mb-3">
                                <input class="form-check-input radio" type="radio" name="payment_mode" id="ach"
                                    value="ACH" checked="checked">
                                <label class="form-check-label" for="ach">
                                    ACH
                                </label>
                                <p class="text-disable mb-0 fs-12">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores molestias placeat
                                    deleniti eaque quis ipsum nostrum sint cumque porro facere! Aliquid rerum quod
                                    libero fugiat animi nisi odit, ad blanditiis.
                                </p>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input radio" type="radio" name="payment_mode" id="credit-card"
                                    value="CREDIT_CARD">
                                <label class="form-check-label" for="credit-card">
                                    Credit Card
                                </label>
                                <p class="text-disable mb-0 fs-12">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores molestias placeat
                                    deleniti eaque quis ipsum nostrum sint cumque porro facere! Aliquid rerum quod
                                    libero fugiat animi nisi odit, ad blanditiis.
                                </p>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" name="flexCheckDefault8"
                                    onclick='handleClick(this)' id="flexCheckDefault8">
                                <label class="form-check-label" for="flexCheckDefault8">
                                    Please be aware that the hotel charges $100 for each LOST hard key. We strongly
                                    advise our guests to be careful with them.<span class="required">*</span>
                                </label>

                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" name="flexCheckDefault9"
                                    onclick='handleClick(this)' id="flexCheckDefault9">
                                <label class="form-check-label" for="flexCheckDefault9">
                                    Please note: there is absolutely NO CANDLES allowed in the rooms. There is only ONE
                                    designated area in the hotel lobby where
                                    Menorah and Shabbos Candles are allowed to be lit. This is for the safety of
                                    everyone in the buildings. <span class="required">*</span>
                                </label>

                            </div>
                            <!-- /cards -->
                            <!-- NEXT BUTTON-->
                            <div
                                class="row d-flex justify-content-between align-items-center text-center mx-md-0 mx-3 border-top">
                                <button type="button"
                                    class="btn btn-dark fw-bold back text-white mt-4 rounded-3 col-12 mb-3 mb-md-0 col-md-3 back-btn"
                                    id="previousButton">
                                    Previous</button>
                                <button type="button"
                                    class="btn fw-bold next mt-4 px-4 rounded-3 bg-color-info col-12 mb-3 mb-md-0 col-md-3 next-btn"
                                    id="payNow" disabled>Pay
                                    Now</button>
                            </div>
                            <!-- /NEXT BUTTON-->
                        </div>
                        <!-- /col -->
                    </div>
                </form>
            </div>
            <!-- /main content -->
        </div>
        <!-- /container -->
    </section>
    <!-- /section -->
    <section class="footer mt-3">
        <div class="container p-4">
            <div class="d-md-flex d-grid justify-content-between align-items-center">
                <p class="mb-0 mt-md-0 mt-3 text-white copyright-text">
                    Copyright <span>&copy</span> 2023 THe All Inclusive Pesach Retreat - All Rights Reserved.
                </p>
                <a href="" class="text-decoration-none text-white">
                    terms & conditions
                </a>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script>
        function handleClick(cb) {
            const checkbox1 = document.getElementById('flexCheckDefault8');
            const checkbox2 = document.getElementById('flexCheckDefault9');

            // Check if the checkbox is selected
            if (checkbox1.checked && checkbox2.checked) {
                $('#payNow').removeAttr('disabled', '');
            } else {
                $('#payNow').attr('disabled', 'disabled');

            }
        }
        $(document).ready(function () {
            const check1 = $("input[name='flexCheckDefault8']:checked").val();
            const check2 = $("input[name='flexCheckDefault9']:checked").val();
            const totalAmount = "<%= totalBillAmount %>"
            const customer_id = "<%= customer_id %>"
            function collectAllSelectedValues() {
                const selectedCheckBox = $("input[name='payment_mode']:checked").val();
                if (selectedCheckBox) {
                    fetch('/updateOrder', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ totalAmount: totalAmount, selectedValue: selectedCheckBox, customer_id: customer_id }),
                    })
                        .then(response => response.json())
                        .then(data => {
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                    if (selectedCheckBox == 'ACH') {
                        const totalBillAmount = '<%= totalBillAmount %>';
                        const queryString = `?cid=${cid}&pids=${pids}&data=${data}&amount=${totalBillAmount}`;
                        window.location.href = '/ach' + queryString;
                    } else {
                        const totalBillAmount = '<%= totalBillAmount %>';
                        const queryString = `?cid=${cid}&pids=${pids}&data=${data}&amount=${totalBillAmount}`;
                        window.location.href = '/credit-card' + queryString;
                    }
                } else {
                }
            }
            $('.next-btn').on('click', function () {
                collectAllSelectedValues();
                // Add your logic to handle the collected values on the button click
            });
        });
    </script>
    <script>
        // jQuery code to handle the click event
        $(document).ready(function () {
            const ids = '<%= cid %>';
            $("#previousButton").on('click', function () {
                const cid = '<%= cid %>';
                const pids = '<%= pids %>';
                const data = '<%= data %>';
                const queryString = `?cid=${cid}&pids=${pids}&data=${data}`;
                window.location.href = '/dining-info' + queryString;

            });
        });
    </script>
    <script>
        const cid = '<%= cid %>';

        const pids = '<%= pids %>';

        const data = '<%= data %>';

        const totalBillAmount = '<%= totalBillAmount %>';
    </script>
</body>

</html>