<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package-Tickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        body {
            background: #fdfdfd;
        }

        @font-face {
            font-family: Segoe-UI;
            src: url(SEGOEUI.TTF);
        }

        .main-section {
            background-color: #FCFCFC;
        }

        .bnr-img {
            width: -webkit-fill-available;
            height: auto;
        }

        .footer {
            background-color: #363636;
        }

        .text-white {
            color: white;
        }

        .edit-text {
            color: #016fd0;
            display: block;
            text-align: right;
        }

        .form-control {
            background: transparent;
        }

        .next-btn {
            background: #C94F6E;
            border: none;
            padding: 10px 40px;
            color: #FDFCED;
        }

        .next-btn a {
            color: #FDFCED;
        }

        .main-content .wizard-form .progressbar-list::before {
            content: " ";
            background-color: rgb(155, 155, 155);
            border: 10px solid #fff;
            border-radius: 50%;
            display: block;
            width: 30px;
            height: 30px;
            margin: 9px auto;
            box-shadow: 1px 1px 3px #606060;
            transition: all;
        }

        .main-content .wizard-form .progressbar-list::after {
            content: "";
            background-color: rgb(155, 155, 155);
            padding: 0px 0px;
            position: absolute;
            top: 14px;
            left: -50%;
            width: 100%;
            height: 2px;
            margin: 9px auto;
            z-index: -1;
            transition: all 0.8s;
        }

        .main-content .wizard-form .progressbar-list.active::after {
            background-color: #C94F6E;
        }

        .main-content .wizard-form .progressbar-list:first-child::after {
            content: none;
        }

        .main-content .wizard-form .progressbar-list.active::before {
            content: "";
            font-size: 11px;
            font-weight: 600;
            color: #fff;
            padding: 6px;
            background-color: white;
            border: 10px solid #C94F6E;
            box-shadow: 0 0 0 7.5px #C94F6E3b;
        }

        .w-16 {
            width: 16%;
        }

        .progressbar-list {
            color: #6f787d;
        }

        .active {
            color: #000;
        }

        /* card */
        .card img {
            width: 40px;
        }

        .card {
            border: 3px solid rgb(145 145 145);
            cursor: pointer;
        }

        .active-card {
            color: #C94F6E;
            font-weight: bold;
            border: 3px solid #C94F6E;
        }

        .form-check-input:focus {
            box-shadow: none;
        }

        .bg-color-info {
            background-color: #C94F6E !important;
        }

        .border-color {
            border-color: #ececec;
        }

        .btn {
            padding: 16px 30px;
        }

        .back-to-wizard {
            transform: translate(-50%, -139%) !important;
        }

        .bg-success-color {
            background-color: #87D185;
        }

        .bg-success-color:focus {
            box-shadow: 0 0 0 0.25rem rgb(55 197 20 / 25%);
        }

        .content-text {
            font-size: 14px;
            color: #6e727d;
        }

        .discount-price {
            font-size: 30px;
            color: #C94F6E;
        }

        .early-bid-text {
            font-size: 12px;
        }

        .original-price {
            color: #545454;
            font-size: 20px;
            text-decoration: line-through;
        }

        .quantity {
            display: flex;
            align-items: center;
            padding: 0;
            background: #f5f5f5;
            padding: 5px;
            width: 130px;
        }

        .quantity__minus,
        .quantity__plus {
            display: block;
            width: 45px;
            font-size: 25px;
            height: 35px;
            margin: 0;
            background: #C94F6E;
            text-decoration: none;
            text-align: center;
            line-height: 28px;
        }

        .quantity__minus:hover,
        .quantity__plus:hover {
            background: #575b71;
            color: #fff;
        }

        .quantity__minus {
            border-radius: 3px 0 0 3px;
        }

        .quantity__plus {
            border-radius: 0 3px 3px 0;
        }

        .quantity__input {
            width: 45px;
            height: 35px;
            margin: 0;
            padding: 0;
            text-align: center;
            border: none;
            background: #f5f5f5;
            color: black;
            font-weight: 600;
        }

        .quantity__minus:link,
        .quantity__plus:link {
            color: #FDFCED;
        }

        .quantity__minus:visited,
        .quantity__plus:visited {
            color: #FDFCED;
            font-weight: 900;
        }

        .fs-18 {
            font-size: 18px;
        }

        .fs-20 {
            font-size: 20px;
        }

        .text-disable {
            color: #9c9c9c;
        }

        .text-dark {
            color: black;
        }

        .bg-lightgray {
            background-color: #fdfdfd;
            border: 1px solid #c3c3c3;
            border-radius: 10px;
        }

        select {
            padding: 5px 10px;
            background: #eeeeee;
            border-radius: 5px;
            border: 1px solid #c8c7c7;
        }

        .form-check-input {
            background: white;
            border: 1px solid #c8c7c7;
        }

        .form-check-input:checked {
            background-color: #c94f6e;
            border-color: #ffffffc9;
        }

        .form-check-input {
            background: white;
            border: 3px solid #c8c7c7;
        }

        .fs-12 {
            font-size: 12px;
        }

        .required {
            color: red;
        }

        .logo-img {
            width: 100px;
            height: auto;
        }

        .payment-card {
            background: white;
            box-shadow: 0 0 8px #0000000a;
            border-radius: 10px;
            width: 500px;
            margin: auto;
            display: none;
        }

        .link-txt a {
            color: #987bf1;
            text-decoration: none;
        }

        .credit-title img {
            width: 30px;
            height: 30px;
        }

        .pay-btn {
            width: -webkit-fill-available;
            background: #c94f6e;
            border: none;
            padding: 5px;
            border-radius: 5px;
        }

        .pay-btn a {
            color: #fdfced;
        }

        .back-pay-btn {
            background: transparent;
            border: none;
            font-size: 20px;
            color: #065ba9;
        }

        .add-guest-btn {
            border: none;
            color: #FDFCED;
        }

        .remove-guest-btn {
            background: transparent;
            border: none;
        }

        @media only screen and (max-width:768px) {
            .copyright-text {
                grid-row: 2;
            }

            .d-grid {
                display: grid;
            }

            li {
                font-size: 12px;
            }

            .discount-price {
                font-size: 24px;
            }

            .original-price {
                font-size: 18px;
            }

            .quantity {
                width: 120px;
            }
        }

        @media only screen and (max-width:515px) {
            .payment-card {
                width: auto;
            }
        }

        @media only screen and (max-width:450px) {
            .btn {
                padding: 10px;
            }

            li {
                font-size: 10px;
            }

            .content-text {
                font-size: 12px;
            }
        }

        .add-guest-btn {
            padding: 5px 0px;
        }

        .guestAdd {
            margin-top: 20px;
        }

        .error-message {
            color: red
        }
    </style>
</head>

<body>
    <section class="main-section">
        <div class="container p-4">
            <div class="logo-main-div mb-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="logo-img" src="images/Asset 4.png" alt="">
                    </div>
                </div>
            </div>
            <!-- <div class="bnr-main-div">
                <div class="row">
                    <div class="col-12">
                        <img class="bnr-img" src="images/Form_Cover_for_Chanukah_Registration_4 1.png" alt="">
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- section -->
    <section>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="main-content">
                <!-- alert box -->
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8">
                        <!-- svg -->
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
                        <!-- /svg -->
                        <div class="alert alert-danger d-flex align-items-center mt-3 d-none mb-0" id="alertBox"
                            role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <div>
                                Please complete required fields
                            </div>
                        </div>
                    </div>
                </div>
                <!-- alert box -->
                <!-- row -->
                <div class="row justify-content-center pt-0" id="wizardRow">
                    <!-- col -->
                    <div class="col-md-12 text-center">
                        <!-- wizard -->
                        <div class="wizard-form py-4 my-2">
                            <!-- ul -->
                            <ul id="progressBar" class="progressbar px-lg-5 px-0">
                                <li id="progressList-1"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Select Event Package</li>
                                <li id="progressList-2"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Select Room</li>
                                <li id="progressList-3"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Package Tickets</li>
                                <li id="progressList-4"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list">
                                    Dining Information</li>
                                <li id="progressList-5"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list">
                                    Booking Summary</li>
                                <li id="progressList-6"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list">
                                    Payment</li>
                            </ul>
                            <!-- /ul -->
                        </div>
                        <!-- /wizard -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <!-- row -->
                <form action="">
                    <!-- Select Event Package  -->
                    <div class="row justify-content-center my-4" id="cardSection">
                    </div>
                    <!-- /row -->
                    <!-- Select Room  -->
                    <!-- row -->
                    <div class="row justify-content-center form-business">
                    </div>
                    <!-- /row -->
                    <!-- Package Tickets  -->
                    <!-- row -->
                    <div class="row justify-content-center form-business">
                        <!-- col -->
                        <div class="col-md-11">
                            <h3 class="fw-bold pt-5 mb-4">Package Tickets</h3>
                            <div class="my-4 bg-light p-4">

                                <% for (const room of data.roomInfos) { %>
                                    <div
                                        class="d-md-flex justify-content-between border-bottom align-items-center pb-3 mb-3">
                                        <h5 class="fw-bold">
                                            <%= room.roomInfos.room_name %> : <%= room.combinedResults.package_name %>
                                        </h5>
                                        <div class="d-flex justify-content-between fs-18">
                                            <p class="fw-semibold mb-0 me-3">
                                                $ <%= (new Date() < new Date('2024-01-15')) ?
                                                    (room.combinedResults.early_bird_special_price===0 ?
                                                    room.combinedResults.room_price :
                                                    room.combinedResults.early_bird_special_price) :
                                                    room.combinedResults.room_price %>
                                            </p>
                                            <span class="fw-semibold">
                                                X
                                            </span>
                                            <p class="fw-semibold mb-0 me-3">
                                                <%= room.quantity %>
                                            </p>
                                            <p class="fw-bold mb-0">
                                                $ <%= room.totalRoomPrice %>
                                            </p>
                                        </div>
                                    </div>
                                    <% } %>
                                        <div class="d-flex justify-content-end align-items-center">
                                            <div class="d-flex align-items-center">
                                                <p class="fw-bold mb-0 text-disable me-3 fs-20">
                                                    Quantity :
                                                    <span class="text-dark">
                                                        <%= data.totalQuantity %>
                                                    </span>
                                                </p>
                                                <p class="fw-bold mb-0 text-disable fs-20">
                                                    Total :
                                                    <span class="text-dark">
                                                        $ <%= data.totalPrice %>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                            </div>
                            <% guest_count=0 %>
                                <% singleOccupancyArr=[] %>
                                    <% for (const room of data.roomInfos) { %>
                                        <% if (room.quantity>= 1) { %>

                                            <% for (let i=1; i <=room.quantity; i++) { %>
                                                <% guest_count=guest_count+1 %>
                                                    <h4 class="fw-bold mb-2">
                                                        <%= room.roomInfos.room_name %> : <%=
                                                                room.combinedResults.package_name %> #<%= i %>
                                                    </h4>
                                                    <div class="bg-lightgray p-4 my-3">
                                                        <div class="row fs-18">
                                                            <div class="col-12 col-lg-6">
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center mb-3">
                                                                    <div>
                                                                        <p class="mb-0 fw-semibold">
                                                                            Additional adult in room
                                                                        </p>
                                                                        <p class="mb-0 fw-bold">
                                                                            $<%= room.combinedResults.additional_adult_price
                                                                                %>
                                                                        </p>
                                                                    </div>
                                                                    <select
                                                                        class="no_of_additional_adult_<%= guest_count %>"
                                                                        name="no_of_additional_adult"
                                                                        id="adult_room_<%= room.roomInfos.room_id %>"
                                                                        data-room-id="<%= room.roomInfos.room_id %>"
                                                                        data-room-unique-id="<%= guest_count %>"
                                                                        data-package-id="<%= room.combinedResults.package_id %>"
                                                                        data-name="no_of_additional_adult"
                                                                        data-room-name="<%= room.roomInfos.room_name %> #<%= i %>"
                                                                        data-room-price="<%= room.roomInfos.room_price %>"
                                                                        data-early-room-price="<%= room.combinedResults.early_bird_special_price %>"
                                                                        onchange="addguest(this.value, <%= guest_count %>, 'adult')"
                                                                        data-price="<%= room.combinedResults.additional_adult_price %>"
                                                                        <%=room.combinedResults.additional_adult_price===0
                                                                        ? 'disabled' : '' %>
                                                                        >
                                                                        <option value="0">0</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                    </select>
                                                                    <% if
                                                                        (room.combinedResults.additional_adult_price===0)
                                                                        { %>
                                                                        <% singleOccupancyArr.push(guest_count); %>
                                                                            <% } %>
                                                                </div>

                                                            </div>
                                                            <div class="col-12 col-lg-6">
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center mb-3">
                                                                    <div>
                                                                        <p class="mb-0 fw-semibold">
                                                                            Kids ages 11-18
                                                                        </p>
                                                                        <p class="mb-0 fw-bold">
                                                                            $<%= room.combinedResults.kids_age_11_18_price
                                                                                %>
                                                                                <span class="text-disable fw-semibold">
                                                                                    per child
                                                                                </span>
                                                                        </p>
                                                                    </div>
                                                                    <select name="no_of_kids_age_11_18"
                                                                        class="no_of_kids_age_11_18_<%= guest_count %>"
                                                                        data-name="no_of_kids_age_11_18"
                                                                        id="no_of_kids_age_11_18 room_id : <%= room.roomInfos.room_id %>"
                                                                        data-room-id="<%= room.roomInfos.room_id %>"
                                                                        data-room-unique-id="<%= guest_count %>"
                                                                        data-package-id="<%= room.combinedResults.package_id %>"
                                                                        data-room-name="<%= room.roomInfos.room_name %> #<%= i %>"
                                                                        data-room-price="<%= room.roomInfos.room_price %>"
                                                                        data-early-room-price="<%= room.combinedResults.early_bird_special_price %>"
                                                                        data-price="<%= room.combinedResults.kids_age_11_18_price %>"
                                                                        onchange="addguest(this.value, <%= guest_count %>, '11_18')">
                                                                        <option value="0">0</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-lg-6">
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center mb-3">
                                                                    <div>
                                                                        <p class="mb-0 fw-semibold">
                                                                            Kids ages 6-10
                                                                        </p>
                                                                        <p class="mb-0 fw-bold">
                                                                            $<%= room.combinedResults.kids_age_6_10_price
                                                                                %>
                                                                                <span class="text-disable fw-semibold">
                                                                                    per child
                                                                                </span>
                                                                        </p>
                                                                    </div>
                                                                    <select name="no_of_kids_age_6_10"
                                                                        class="no_of_kids_age_6_10_<%= guest_count %>"
                                                                        data-name="no_of_kids_age_6_10"
                                                                        id="no_of_kids_age_6_10 room_id : <%= room.roomInfos.room_id %>"
                                                                        data-room-id="<%= room.roomInfos.room_id %>"
                                                                        data-room-unique-id="<%= guest_count %>"
                                                                        data-package-id="<%= room.combinedResults.package_id %>"
                                                                        data-room-name="<%= room.roomInfos.room_name %> #<%= i %>"
                                                                        data-room-price="<%= room.roomInfos.room_price %>"
                                                                        data-early-room-price="<%= room.combinedResults.early_bird_special_price %>"
                                                                        data-price="<%= room.combinedResults.kids_age_6_10_price %>"
                                                                        onchange="addguest(this.value, <%= guest_count %>, '6_10')">
                                                                        <option value="0">0</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-lg-6">
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center mb-3">
                                                                    <div>
                                                                        <p class="mb-0 fw-semibold">
                                                                            kids-ages 3-5
                                                                        </p>
                                                                        <p class="mb-0 fw-bold">
                                                                            $<%= room.combinedResults.kids_age_3_5_price
                                                                                %>
                                                                                <span class="text-disable fw-semibold">
                                                                                    per child
                                                                                </span>
                                                                        </p>
                                                                    </div>
                                                                    <select name="no_of_kids_age_3_5"
                                                                        class="no_of_kids_age_3_5_<%= guest_count %>"
                                                                        data-name="no_of_kids_age_3_5"
                                                                        id="no_of_kids_age_3_5 room_id : <%= room.roomInfos.room_id %>"
                                                                        data-room-id="<%= room.roomInfos.room_id %>"
                                                                        data-room-unique-id="<%= guest_count %>"
                                                                        data-package-id="<%= room.combinedResults.package_id %>"
                                                                        data-room-name="<%= room.roomInfos.room_name %> #<%= i %>"
                                                                        data-room-price="<%= room.roomInfos.room_price %>"
                                                                        data-early-room-price="<%= room.combinedResults.early_bird_special_price %>"
                                                                        data-price="<%= room.combinedResults.kids_age_3_5_price %>"
                                                                        onchange="addguest(this.value, <%= guest_count %>, '3_5')">
                                                                        <option value="0">0</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-lg-6">
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center mb-3">
                                                                    <div>
                                                                        <p class="mb-0 fw-semibold">
                                                                            Kids ages 1-2
                                                                        </p>
                                                                        <p class="mb-0 fw-bold">
                                                                            $<%= room.combinedResults.kids_age_1_2_price
                                                                                %>
                                                                                <span class="text-disable fw-semibold">
                                                                                    per child
                                                                                </span>
                                                                        </p>
                                                                    </div>
                                                                    <select name="no_of_kids_age_1_2"
                                                                        class="no_of_kids_age_1_2_<%= guest_count %>"
                                                                        data-name="no_of_kids_age_1_2"
                                                                        id="no_of_kids_age_1_2 room_id : <%= room.roomInfos.room_id %>"
                                                                        data-room-id="<%= room.roomInfos.room_id %>"
                                                                        data-room-unique-id="<%= guest_count %>"
                                                                        data-package-id="<%= room.combinedResults.package_id %>"
                                                                        data-room-name="<%= room.roomInfos.room_name %> #<%= i %>"
                                                                        data-room-price="<%= room.roomInfos.room_price %>"
                                                                        data-early-room-price="<%= room.combinedResults.early_bird_special_price %>"
                                                                        data-price="<%= room.combinedResults.kids_age_1_2_price %>"
                                                                        onchange="addguest(this.value, <%= guest_count %>, '1_2')">
                                                                        <option value="0">0</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="col-12 col-lg-6">
                                                            <div
                                                                class="d-flex justify-content-between align-items-center mb-3">
                                                                <div>
                                                                    <p class="mb-0 fw-semibold">
                                                                        Age Group
                                                                    </p>
                                                                </div>
                                                                <select name="age_group" data-name="age_group"
                                                                    class="age_group_<%= guest_count %>"
                                                                    id="age_group room_id : <%= room.roomInfos.room_id %>"
                                                                    data-room-id="<%= room.roomInfos.room_id %>"
                                                                    data-room-unique-id="<%= guest_count %>"
                                                                    data-package-id="<%= room.combinedResults.package_id %>"
                                                                    data-room-price="<%= room.roomInfos.room_price %>"
                                                                    data-early-room-price="<%= room.combinedResults.early_bird_special_price %>"
                                                                    data-room-name="<%= room.roomInfos.room_name %> #<%= i %>">
                                                                    <option value="0">0</option>
                                                                    <option value="18-25">18-25</option>
                                                                    <option value="25-30">25-30</option>
                                                                    <option value="30-35">30-35</option>
                                                                    <option value="35-40">35-40</option>
                                                                    <option value="40-45">40-45</option>
                                                                    <option value="45-50">45-50</option>
                                                                    <option value="50-55">50-55</option>
                                                                    <option value="55-60">55-60</option>
                                                                    <option value="60-65">60-65</option>
                                                                    <option value="65-70">65-70</option>
                                                                    <option value="70-75">70-75</option>
                                                                    <option value="75-80">75-80</option>
                                                                    <option value="80-85">80-85</option>
                                                                    <option value="85-90">85-90</option>
                                                                    <option value="90-100">90-100</option>
                                                                </select>
                                                            </div>
                                                        </div> -->
                                                        </div>
                                                        <div class="row fs-18">
                                                            <div class="col-12 col-lg-12">
                                                                <div class="d-flex justify-content-center mb-3">
                                                                    <div class="me-5">
                                                                        <p class="mb-0 fw-semibold me-3">
                                                                            Additional
                                                                        </p>
                                                                    </div>
                                                                    <div class="fw-semibold ms-5">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input cribCheckbox_<%= guest_count %>"
                                                                                name="room-block" type="checkbox"
                                                                                value="<%= room.roomInfos.room_id %>"
                                                                                id="cribCheckbox<%= room.roomInfos.room_id %>"
                                                                                data-room-id="<%= room.roomInfos.room_id %>"
                                                                                data-room-unique-id="<%= guest_count %>"
                                                                                data-package-id="<%= room.combinedResults.package_id %>"
                                                                                data-name="cribCheckbox"
                                                                                data-room-name="<%= room.roomInfos.room_name %> #<%= i %>"
                                                                                data-room-price="<%= room.roomInfos.room_price %>"
                                                                                data-early-room-price="<%= room.combinedResults.early_bird_special_price %>"
                                                                                data-price="<%= room.combinedResults.cribs_price %>">
                                                                            <label class="form-check-label"
                                                                                for="cribCheckbox<%= room.roomInfos.room_id %>">
                                                                                Crib $<%=
                                                                                    room.combinedResults.cribs_price %>
                                                                                    OR
                                                                                    bring your own
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input cotCheckbox_<%= guest_count %>"
                                                                                type="checkbox"
                                                                                value="<%= room.roomInfos.room_id %>"
                                                                                id="cotCheckbox<%= room.roomInfos.room_id %>"
                                                                                data-room-id="<%= room.roomInfos.room_id %>"
                                                                                data-room-unique-id="<%= guest_count %>"
                                                                                data-package-id="<%= room.combinedResults.package_id %>"
                                                                                data-name="cotCheckbox"
                                                                                data-room-price="<%= room.roomInfos.room_price %>"
                                                                                data-early-room-price="<%= room.combinedResults.early_bird_special_price %>"
                                                                                data-room-name="<%= room.roomInfos.room_name %> #<%= i %>"
                                                                                data-price="<%= room.combinedResults.cot_price %>">
                                                                            <label class="form-check-label"
                                                                                for="cotCheckbox<%= room.roomInfos.room_id %>">
                                                                                Cot $<%= room.combinedResults.cot_price
                                                                                    %>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-12 text-end">
                                                                <!-- <button type="button"
                                                                class="add-guest-btn fw-semibold bg-color-info rounded-3 col-12"
                                                                id="guestButton<%=guest_count %>"
                                                                onclick=addguest(<%=guest_count %>)>
                                                                + Add Guest
                                                            </button> -->
                                                            </div>
                                                        </div>
                                                        <div class="guestAdd" id="guest-add<%= guest_count %>">
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% } %>
                                                            <% } %>
                                                                <!-- /cards -->
                                                                <!-- NEXT BUTTON-->
                                                                <div
                                                                    class="row d-flex justify-content-between align-items-center text-center mx-md-0 mx-3">
                                                                    <button type="button"
                                                                        class="btn btn-dark fw-bold back text-white mt-4 rounded-3 col-12 mb-3 mb-md-0 col-md-3 back-btn"
                                                                        id="previousButton">
                                                                        Previous</button>
                                                                    <button type="button"
                                                                        class="btn fw-bold mt-4 px-4 rounded-3 bg-color-info col-12 mb-3 mb-md-0 col-md-3 next-btn"
                                                                        id="nextButton">Next</button>
                                                                </div>
                                                                <!-- /NEXT BUTTON-->
                        </div>
                        <!-- /col -->
                    </div>
                </form>
            </div>
            <!-- /main content -->
        </div>
        <!-- /container -->
    </section>
    <!-- /section -->
    <section class="footer mt-3">
        <div class="container p-4">
            <div class="d-md-flex d-grid justify-content-between align-items-center">
                <p class="mb-0 mt-md-0 mt-3 text-white copyright-text">
                    Copyright <span>&copy</span> 2023 THe All Inclusive Pesach Retreat - All Rights Reserved.
                </p>
                <a href="" class="text-decoration-none text-white">
                    terms & conditions
                </a>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var selectedPackageId = null;
            var nextEnable = false;
            // next button
            $(".next").on({
                click: function () {
                    alert(nextEnable);
                    if (nextEnable) {
                        $("#progressBar").find(".active").next().addClass("active");
                        $(this).parents(".row").fadeOut("slow", function () {
                            $(this).next(".row").fadeIn("slow");
                        });
                    }
                }
            });
            // back button
            $(".back").on({
                click: function () {
                    $("#progressBar .active").last().removeClass("active");
                    $(this).parents(".row").fadeOut("slow", function () {
                        $(this).prev(".row").fadeIn("slow");
                    });
                }
            });
            //Active card on click function
            $(".card").on({
                click: function () {
                    $(this).toggleClass("active-card");
                    selectedPackageId = $(this).data("package_id");
                }
            });
            //back to wizard
            $(".back-to-wizard").on({
                click: function () {
                    location.reload(true);
                }
            });
        });
    </script>
    <!-- Include this script after your HTML code -->
    <!-- Include this script after your HTML code -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Define a function to collect selected values
            function collectSelectedValues() {
                const selectedValues = [];

                // Iterate through all selects
                document.querySelectorAll('select').forEach(function (select) {
                    const room_id = select.getAttribute('data-room-id');
                    const room_unique_id = select.getAttribute('data-room-unique-id');
                    const room_price = select.getAttribute('data-room-price');
                    const early_room_price = select.getAttribute('data-early-room-price');
                    const package_id = select.getAttribute('data-package-id');
                    const name = select.getAttribute('data-name');
                    const room_name = select.getAttribute('data-room-name'); // Add this line
                    const price = select.getAttribute('data-price'); // Add this line
                    const selectedValue = select.value;

                    // if (selectedValue !== '0') {
                    selectedValues.push({
                        'name': name,
                        'room_id': room_id,
                        'room_unique_id': room_unique_id,
                        'room_price': room_price,
                        'early_room_price': early_room_price,
                        'package_id': package_id,
                        'selected_value': selectedValue,
                        'room_name': room_name,
                        'price': price,
                    });
                    // }
                });

                // Iterate through all checkboxes
                document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
                    const room_id = checkbox.getAttribute('data-room-id');
                    const room_unique_id = checkbox.getAttribute('data-room-unique-id');
                    const room_price = checkbox.getAttribute('data-room-price');
                    const early_room_price = checkbox.getAttribute('data-early-room-price');
                    const package_id = checkbox.getAttribute('data-package-id');
                    const name = checkbox.getAttribute('data-name');
                    const room_name = checkbox.getAttribute('data-room-name');
                    const price = checkbox.getAttribute('data-price');
                    const isChecked = checkbox.checked;

                    selectedValues.push({
                        'name': name,
                        'room_price': room_price,
                        'early_room_price': early_room_price,
                        'room_id': room_id,
                        'room_unique_id': room_unique_id,
                        'package_id': package_id,
                        'is_checked': isChecked,
                        'room_name': room_name,
                        'price': price,
                    });
                });
                const jsonString = JSON.stringify(selectedValues, null, 2);
                const latin1String = unescape(encodeURIComponent(jsonString));
                const base64Encoded = btoa(latin1String);

                const pids = '<%= pids %>';
                const pidsdecodedString = atob(pids);
                const pidsdecodedData = JSON.parse(pidsdecodedString);

                var selectedRoomInfo = '<%= selectedRoomInfo %>';
                var customer_id = '<%= customer_id %>';

                const cidjsonString = JSON.stringify(customer_id);
                const cidbase64Encoded = btoa(cidjsonString);

                // var arr = pidsdecodedData.split(',');
                const queryString = `?pids=${pids}&cid=${customer_id}&data=${selectedRoomInfo}`;

                const guestObj = [];
                var validationError = false;
                var firstErrorId = "";
                $(".firstname").each(function () {
                    var id = $(this).data('id');
                    var agegroup = $(this).data('agegroup');
                    var gtcnt = $(this).data('gtcnt');
                    var lastname = $('#guest_lastname' + gtcnt).val();

                    var fname = $(this).val();
                    var lname = $('#guest_lastname' + gtcnt).val();
                    var age = $('#guest_age' + gtcnt).val();

                    if (lname == '') {
                        validationError = true;
                        if (firstErrorId == '') {
                            firstErrorId = '#error_guest_lastname' + gtcnt;
                        }

                        $('#error_guest_lastname' + gtcnt).html('This field is required.');
                    } else {
                        if (!validationError) {
                            validationError = false;
                        }
                        $('#error_guest_lastname' + gtcnt).html('');
                    }

                    if (fname == '') {
                        validationError = true;
                        if (firstErrorId == '') {
                            firstErrorId = '#error_guest_firstname' + gtcnt;
                        }
                        $('#error_guest_firstname' + gtcnt).html('This field is required.');
                    } else {
                        if (!validationError) {
                            validationError = false;
                        }
                        $('#error_guest_firstname' + gtcnt).html('');
                    }

                    if (age == '') {
                        validationError = true;
                        if (firstErrorId == '') {
                            firstErrorId = '#error_guest_age' + gtcnt;
                        }
                        $('#error_guest_age' + gtcnt).html('This field is required.');
                    } else {
                        if (!validationError) {
                            validationError = false;
                        }
                        $('#error_guest_age' + gtcnt).html('');
                    }

                    const dynamicObject = {
                        fname: fname,
                        lname: lname,
                        age: age,
                        room_unique_id: id,
                        agegroup: agegroup
                    };
                    guestObj.push(dynamicObject);
                });


                // store selected data in localstorage
                localStorage.setItem('selectedPackageTicket', JSON.stringify(selectedValues));
                localStorage.setItem('guestInfo', JSON.stringify(guestObj));

                if (validationError) {


                    var target = $(firstErrorId);
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top - 90
                        }, 1000);

                    }
                    nextEnable = false;
                }
                else {
                    nextEnable = true;
                    window.location.href = '/dining-info' + queryString;

                    const cidString = atob(customer_id);
                    const cidData = JSON.parse(cidString);

                    fetch('/createOrderRooms', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        // body: JSON.stringify({ selectedValues: selectedValues, ids: arr, selectedRoomInfo: selectedRoomInfo }),
                        body: JSON.stringify({ selectedValues: selectedValues, pids: pidsdecodedData, customer_id: cidData, guestInfo: guestObj }),
                    })
                        .then(response => response.json())
                        .then(data => {
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                }
            }
            document.querySelector('.next-btn').addEventListener('click', function () {
                collectSelectedValues();
            });
        });
    </script>
    <script>
        // jQuery code to handle the click event
        $(document).ready(function () {
            const pids = '<%= pids %>';
            const pidsArray = ids.split(',');

            $("#previousButton").on('click', function () {
                // Redirect to '/select-event'
                const pidsdecodedString = atob(pids);
                const pidsdecodedData = JSON.parse(pidsdecodedString);
                const queryString = `?cid=${customer_id}&pids=${pids}`;
                window.location.href = '/select-room' + queryString;
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            const guestCount = "<%= guest_count %>"
            const singleOccupancyArr = "<%= singleOccupancyArr%>"
            const arr = singleOccupancyArr.split(',');

            var guestInfo = localStorage.getItem('guestInfo');
            if (!guestInfo) {
                for (let i = 1; i <= guestCount; i++) {
                    console.log("arr", arr);
                    console.log("i", i);

                    if (arr.includes(i.toString())) {
                        addguest(1, i, 'guest');
                    } else {
                        addguest(2, i, 'guest');
                    }
                }
            }
        });
    </script>
    <script>
        var gtcnt = 0;
        var gtcnt1_2 = 0;
        var gtcnt3_5 = 0;
        var gtcnt6_10 = 0;
        var gtcnt11_18 = 0;
        var gtcntadult = 0;

        function addguest(selectedValue, id, ageGroup,) {
            // Clear existing guest rows based on ageGroup
            $(".guest-row-" + ageGroup + '_' + id).remove();

            // Add new guest rows based on selected value
            for (var i = 0; i < selectedValue; i++) {
                gtcnt++;
                var fnamelabel = 'Guest First Name';
                var lnamelabel = 'Guest Last Name';
                if (ageGroup != 'adult' && ageGroup != 'guest') {
                    fnamelabel = 'Kids First Name';
                    lnamelabel = 'Kids Last Name';
                }

                $("#guest-add" + id).append(
                    '<div class="row guest-row guest-row-' + ageGroup + '_' + id + ' align-items-center">' +
                    '<div class="col-12 col-lg-4">' +
                    '<div class="mb-3">' +
                    '<label class="form-label fw-semibold">' + fnamelabel +
                    '</label>' +
                    '<input type="text" class="form-control firstname" data-agegroup="' + ageGroup + '" data-gtcnt="' + gtcnt + '" data-id="' + id + '" name="guest_firstname' + id + '[]" id="guest_firstname' + gtcnt + '">' +
                    '<span class="error-message" id="error_guest_firstname' + gtcnt + '"></span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-12 col-lg-4">' +
                    '<div class="mb-3">' +
                    '<label class="form-label fw-semibold">' +
                    lnamelabel +
                    '</label>' +
                    '<input type="text" class="form-control lastname" name="guest_lastname' + id + '[]"  id="guest_lastname' + gtcnt + '">' +
                    '<span class="error-message" id="error_guest_lastname' + gtcnt + '"></span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-11 col-lg-4">' +
                    '<div class="mb-3">' +
                    '<label class="form-label fw-semibold">' +
                    'Age' +
                    '</label>' +
                    '<input type="text" class="form-control" name="guest_age' + id + '[]" id="guest_age' + gtcnt + '" pattern="[0-9]+" title="Please enter a valid integer value">' +
                    '<span class="error-message" id="error_guest_age' + gtcnt + '"></span>' +
                    '</div>' +
                    '</div>' +
                    '</div>');
            }
        }

        function removeguest(e) {
            var par = $(e).closest(".guest-row");
            par.remove();
        }
    </script>

    <script>
        var retrievedData = localStorage.getItem('selectedPackageTicket');

        if (retrievedData) {
            var parsedData = JSON.parse(retrievedData);

            for (let i = 0; i < parsedData.length; i++) {
                var room_unique_id = parsedData[i].room_unique_id;
                var name = parsedData[i].name;

                var classname = name;
                if ((name == 'cribCheckbox') || (name == 'cotCheckbox')) {
                    var selected_value = parsedData[i].is_checked;
                    $('.' + classname + '_' + room_unique_id).prop('checked', selected_value);
                }
                else {
                    var selected_value = parsedData[i].selected_value;
                    $('.' + classname + '_' + room_unique_id).val(selected_value);
                }
            }
        } else {
            console.log('No data found in localStorage');
        }
    </script>

    <script>
        var guestInfo = localStorage.getItem('guestInfo');

        if (guestInfo) {
            var parsedData = JSON.parse(guestInfo);

            for (let i = 0; i < parsedData.length; i++) {
                gtcnt++;
                var room_unique_id = parsedData[i].room_unique_id;
                var fname = parsedData[i].fname;
                var lname = parsedData[i].lname;
                var age = parsedData[i].age;
                var agegroup = parsedData[i].agegroup;

                var fnamelabel = 'Guest First Name';
                var lnamelabel = 'Guest Last Name';
                if (agegroup != 'adult' && agegroup != 'guest') {
                    fnamelabel = 'Kids First Name';
                    lnamelabel = 'Kids Last Name';
                }

                $("#guest-add" + room_unique_id).append('<div class="row guest-row guest-row-' + agegroup + '_' + room_unique_id + ' align-items-center">' +
                    '<div class="col-12 col-lg-4">' +
                    '<div class="mb-3">' +
                    '<label class="form-label fw-semibold">' + fnamelabel +
                    '</label>' +
                    '<input type="text" class="form-control firstname" data-gtcnt="' + gtcnt + '" value="' + fname + '" data-agegroup="' + agegroup + '" data-id="' + room_unique_id + '" name="guest_firstname' + room_unique_id + '[]" id="guest_firstname' + gtcnt + '">' +
                    '<span class="error-message" id="error_guest_firstname' + gtcnt + '"></span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-12 col-lg-4">' +
                    '<div class="mb-3">' +
                    '<label class="form-label fw-semibold">' +
                    lnamelabel +
                    '</label>' +
                    '<input type="text" class="form-control lastname" value="' + lname + '" name="guest_lastname' + room_unique_id + '[]"  id="guest_lastname' + gtcnt + '">' +
                    '<span class="error-message" id="error_guest_lastname' + gtcnt + '"></span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-11 col-lg-4">' +
                    '<div class="mb-3">' +
                    '<label class="form-label fw-semibold">' +
                    'Age' +
                    '</label>' +
                    '<input type="text" class="form-control" value="' + age + '" name="guest_age' + room_unique_id + '[]" id="guest_age' + gtcnt + '">' +
                    '<span class="error-message" id="error_guest_age' + gtcnt + '"></span>' +
                    '</div>' +
                    '</div>' +
                    '</div>');
            }
        } else {
            console.log('No data found in localStorage');
        }
    </script>

    <script>
        var customer_id = '<%= customer_id %>';

        var selectedRoomInfo = '<%= selectedRoomInfo %>';
        const jsonString = JSON.stringify(selectedRoomInfo);
        const base64Encoded = btoa(jsonString);

        var ids = '<%= pids %>';
    </script>
</body>

</html>