<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select-Rooms</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        body {
            background: #fdfdfd;
        }

        @font-face {
            font-family: Segoe-UI;
            src: url(SEGOEUI.TTF);
        }

        .main-section {
            background-color: #FCFCFC;
        }

        .bnr-img {
            width: -webkit-fill-available;
            height: auto;
        }

        .footer {
            background-color: #363636;
        }

        .text-white {
            color: white;
        }

        .edit-text {
            color: #016fd0;
            display: block;
            text-align: right;
        }

        .form-control {
            background: transparent;
        }

        .next-btn {
            background: #C94F6E;
            border: none;
            padding: 10px 40px;
            color: #FDFCED;
        }

        .next-btn a {
            color: #FDFCED;
        }

        .main-content .wizard-form .progressbar-list::before {
            content: " ";
            background-color: rgb(155, 155, 155);
            border: 10px solid #fff;
            border-radius: 50%;
            display: block;
            width: 30px;
            height: 30px;
            margin: 9px auto;
            box-shadow: 1px 1px 3px #606060;
            transition: all;
        }

        .main-content .wizard-form .progressbar-list::after {
            content: "";
            background-color: rgb(155, 155, 155);
            padding: 0px 0px;
            position: absolute;
            top: 14px;
            left: -50%;
            width: 100%;
            height: 2px;
            margin: 9px auto;
            z-index: -1;
            transition: all 0.8s;
        }

        .main-content .wizard-form .progressbar-list.active::after {
            background-color: #C94F6E;
        }

        .main-content .wizard-form .progressbar-list:first-child::after {
            content: none;
        }

        .main-content .wizard-form .progressbar-list.active::before {
            content: "";
            font-size: 11px;
            font-weight: 600;
            color: #fff;
            padding: 6px;
            background-color: white;
            border: 10px solid #C94F6E;
            box-shadow: 0 0 0 7.5px #C94F6E3b;
        }

        .w-16 {
            width: 16%;
        }

        .progressbar-list {
            color: #6f787d;
        }

        .active {
            color: #000;
        }

        /* card */
        .card img {
            width: 40px;
        }

        .card {
            border: 3px solid rgb(145 145 145);
            cursor: pointer;
        }

        .active-card {
            color: #C94F6E;
            font-weight: bold;
            border: 3px solid #C94F6E;
        }

        .form-check-input:focus {
            box-shadow: none;
        }

        .bg-color-info {
            background-color: #C94F6E !important;
        }

        .border-color {
            border-color: #ececec;
        }

        .btn {
            padding: 16px 30px;
        }

        .back-to-wizard {
            transform: translate(-50%, -139%) !important;
        }

        .bg-success-color {
            background-color: #87D185;
        }

        .bg-success-color:focus {
            box-shadow: 0 0 0 0.25rem rgb(55 197 20 / 25%);
        }

        .content-text {
            font-size: 14px;
            color: #6e727d;
        }

        .discount-price {
            font-size: 30px;
            color: #C94F6E;
        }

        .early-bid-text {
            font-size: 12px;
        }

        .original-price {
            color: #545454;
            font-size: 20px;
            text-decoration: line-through;
        }

        .quantity {
            display: flex;
            align-items: center;
            padding: 0;
            background: #f5f5f5;
            padding: 5px;
            width: 130px;
        }

        .quantity__minus,
        .quantity__plus {
            display: block;
            width: 45px;
            font-size: 25px;
            height: 35px;
            margin: 0;
            background: #C94F6E;
            text-decoration: none;
            text-align: center;
            line-height: 28px;
        }

        .quantity__minus:hover,
        .quantity__plus:hover {
            background: #575b71;
            color: #fff;
        }

        .quantity__minus {
            border-radius: 3px 0 0 3px;
        }

        .quantity__plus {
            border-radius: 0 3px 3px 0;
        }

        .quantity__input {
            width: 45px;
            height: 35px;
            margin: 0;
            padding: 0;
            text-align: center;
            border: none;
            background: #f5f5f5;
            color: black;
            font-weight: 600;
        }

        .quantity__minus:link,
        .quantity__plus:link {
            color: #FDFCED;
        }

        .quantity__minus:visited,
        .quantity__plus:visited {
            color: #FDFCED;
            font-weight: 900;
        }

        .fs-18 {
            font-size: 18px;
        }

        .fs-20 {
            font-size: 20px;
        }

        .text-disable {
            color: #9c9c9c;
        }

        .text-dark {
            color: black;
        }

        .bg-lightgray {
            background-color: #fdfdfd;
            border: 1px solid #c3c3c3;
            border-radius: 10px;
        }

        select {
            padding: 5px 10px;
            background: #eeeeee;
            border-radius: 5px;
            border: 1px solid #c8c7c7;
        }

        .form-check-input {
            background: white;
            border: 1px solid #c8c7c7;
        }

        .form-check-input:checked {
            background-color: #c94f6e;
            border-color: #ffffffc9;
        }

        .form-check-input {
            background: white;
            border: 3px solid #c8c7c7;
        }

        .fs-12 {
            font-size: 12px;
        }

        .required {
            color: red;
        }

        .logo-img {
            width: 100px;
            height: auto;
        }

        .payment-card {
            background: white;
            box-shadow: 0 0 8px #0000000a;
            border-radius: 10px;
            width: 500px;
            margin: auto;
            display: none;
        }

        .link-txt a {
            color: #987bf1;
            text-decoration: none;
        }

        .credit-title img {
            width: 30px;
            height: 30px;
        }

        .pay-btn {
            width: -webkit-fill-available;
            background: #c94f6e;
            border: none;
            padding: 5px;
            border-radius: 5px;
        }

        .pay-btn a {
            color: #fdfced;
        }

        .back-pay-btn {
            background: transparent;
            border: none;
            font-size: 20px;
            color: #065ba9;
        }

        .disable {
            background: #cccccc;
            color: black !important;
            pointer-events: none;
        }

        @media only screen and (max-width:768px) {
            .copyright-text {
                grid-row: 2;
            }

            .d-grid {
                display: grid;
            }

            li {
                font-size: 12px;
            }

            .discount-price {
                font-size: 24px;
            }

            .original-price {
                font-size: 18px;
            }

            .quantity {
                width: 120px;
            }
        }

        @media only screen and (max-width:515px) {
            .payment-card {
                width: auto;
            }
        }

        @media only screen and (max-width:450px) {
            .btn {
                padding: 10px;
            }

            li {
                font-size: 10px;
            }

            .content-text {
                font-size: 12px;
            }
        }
    </style>
</head>

<body>
    <section class="main-section">
        <div class="container p-4">
            <div class="logo-main-div mb-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="logo-img" src="images/Asset 4.png" alt="">
                    </div>
                </div>
            </div>
            <!-- <div class="bnr-main-div">
                <div class="row">
                    <div class="col-12">
                        <img class="bnr-img" src="images/Form_Cover_for_Chanukah_Registration_4 1.png" alt="">
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- section -->
    <section>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="main-content">
                <!-- alert box -->
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8">
                        <!-- svg -->
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
                        <!-- /svg -->
                        <div class="alert alert-danger d-flex align-items-center mt-3 d-none mb-0" id="alertBox"
                            role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <div>
                                Please complete required fields
                            </div>
                        </div>
                    </div>
                </div>
                <!-- alert box -->
                <!-- row -->
                <div class="row justify-content-center pt-0" id="wizardRow">
                    <!-- col -->
                    <div class="col-md-12 text-center">
                        <!-- wizard -->
                        <div class="wizard-form py-4 my-2">
                            <!-- ul -->
                            <ul id="progressBar" class="progressbar px-lg-5 px-0">
                                <li id="progressList-1"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Select Event Package</li>
                                <li id="progressList-2"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list active">
                                    Select Room</li>
                                <li id="progressList-3"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list">
                                    Package Tickets</li>
                                <li id="progressList-4"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list">
                                    Dining Information</li>
                                <li id="progressList-5"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list">
                                    Booking Summary</li>
                                <li id="progressList-6"
                                    class="d-inline-block fw-bold w-16 position-relative text-center float-start progressbar-list">
                                    Payment</li>
                            </ul>
                            <!-- /ul -->
                        </div>
                        <!-- /wizard -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <!-- row -->
                <form action="">
                    <!-- /row -->
                    <!-- Select Room  -->
                    <!-- row -->
                    <div class="row justify-content-center form-business">
                        <!-- col -->
                        <div class="col-md-11">
                            <!-- package loop start -->
                            <% for (let i=0; i < data.package_data.length; i++) { %>
                                <h3 class="fw-bold pt-5 mb-4">
                                    <%= data.package_data[i].package_info.package_name %>
                                </h3>
                                <!-- cards -->
                                <!-- room loop start -->
                                <% for (let j=0; j < data.package_data[i].room_data.length; j++) { %>
                                    <div class="row row-cols-1 g-4 pb-5">
                                        <div class="col">
                                            <div
                                                class="d-flex justify-content-between align-items-center border-bottom pb-4">
                                                <div class="title-content w-75 pe-5">
                                                    <h5 class="fw-bold">
                                                        <%= data.package_data[i].room_data[j].room_name %>
                                                    </h5>
                                                    <p class="mb-0 content-text fw-semibold">
                                                        <%= data.package_data[i].room_data[j].description %>
                                                    </p>
                                                </div>
                                                <div class="ms-auto">
                                                    <p class="discount-price fw-bold mb-0">
                                                        <span>
                                                            $
                                                        </span>
                                                        <span class="room-price">
                                                            <%= data.package_data[i].room_data[j].room_price %>
                                                        </span>
                                                    </p>
                                                    <p class="fw-semibold early-bid-text mb-1">
                                                        Early bid special offer before January 1st
                                                    </p>
                                                    <p class="original-price fw-bold">
                                                        <span>
                                                            $
                                                        </span>
                                                        <span class="early-bird-price">
                                                            <%= data.package_data[i].room_data[j].early_bird_special_price
                                                                %>
                                                        </span>
                                                    </p>
                                                    <div class="quantity"
                                                        data-room-id="<%= data.package_data[i].room_data[j].room_id %>"
                                                        data-package-id="<%= data.package_data[i].package_info.package_id %>">
                                                        <a href="#" class="quantity__minus disable"><span>-</span></a>
                                                        <input name="quantity" type="text" class="quantity__input"
                                                            value="0" readonly>
                                                        <a href="#" class="quantity__plus"><span>+</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                                            <!-- room loop end -->
                                            <!-- package loop end -->
                                            <!-- /cards -->
                                            <!-- NEXT BUTTON-->
                                            <div class="row d-flex mx-md-0 mx-3 align-items-center">
                                                <button type="button"
                                                    class="btn btn-dark fw-bold text-white back rounded-3 col-12 mb-3 mb-md-0 col-md-3 order-2 order-md-1"
                                                    id="previousButton">Previous</button>
                                                <div
                                                    class="col-12 col-md-6 d-flex justify-content-center mb-3 mb-md-0 order-1 order-md-2">
                                                    <div class="total-quantity me-3">
                                                        <p class="fw-semibold mb-0 fs-20">
                                                            Quantity :
                                                            <span class="total-quantity-count">
                                                                0
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="total-price">
                                                        <p class="fw-semibold mb-0 fs-20">
                                                            Total :
                                                            <span class="total-price-count">
                                                                $ 0.00
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                    class="btn fw-bold next next-btn rounded-3 bg-color-info col-12 col-md-3 mb-3 mb-md-0 order-3 order-md-3">Next</button>
                                            </div>
                                            <!-- /NEXT BUTTON-->
                        </div>
                        <!-- /col -->
                    </div>
                </form>
            </div>
            <!-- /main content -->
        </div>
        <!-- /container -->
    </section>
    <!-- /section -->
    <section class="footer mt-3">
        <div class="container p-4">
            <div class="d-md-flex d-grid justify-content-between align-items-center">
                <p class="mb-0 mt-md-0 mt-3 text-white copyright-text">
                    Copyright <span>&copy</span> 2023 THe All Inclusive Pesach Retreat - All Rights Reserved.
                </p>
                <a href="" class="text-decoration-none text-white">
                    terms & conditions
                </a>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var selectedPackageId = null;
            //Active card on click function
            $(".card").on({
                click: function () {
                    $(this).toggleClass("active-card");
                    selectedPackageId = $(this).data("package_id");
                }
            });
        });

        // For quantity plus
        $(".quantity__plus").click(function (e) {
            e.preventDefault();
            var quantityInput = $(this).siblings(".quantity__input");
            var roomCount = parseInt(quantityInput.val()) + 1;

            // If the quantity is 0, set it to 1 directly
            if (roomCount === 0) {
                roomCount = 1;
            }

            quantityInput.val(roomCount);
            updateTotal();
            toggleDisableClass(quantityInput, roomCount);
        });

        // Quantity minus button click event
        $(".quantity__minus").click(function (e) {
            e.preventDefault();
            var quantityInput = $(this).siblings(".quantity__input");
            var roomCount = parseInt(quantityInput.val()) - 1;

            // Ensure the quantity does not go below 0
            roomCount = Math.max(0, roomCount);

            quantityInput.val(roomCount);
            updateTotal();
            toggleDisableClass(quantityInput, roomCount);
        });

        // for update total
        function updateTotal() {
            var totalQuantity = 0;
            var totalPrice = 0;

            $(".quantity").each(function () {
                var roomCount = parseInt($(this).find(".quantity__input").val());
                var roomPrice = parseFloat($(this).closest(".col").find(".room-price").text());
                var totalRoomPrice = roomCount * roomPrice;

                totalQuantity += roomCount;
                totalPrice += totalRoomPrice;
            });

            $(".total-quantity-count").text(totalQuantity);
            $(".total-price-count").text("$ " + totalPrice.toFixed(2));
        }

        function toggleDisableClass(input, count) {
            var minusButton = input.siblings(".quantity__minus");
            if (count === 0) {
                minusButton.addClass("disable");
            } else {
                minusButton.removeClass("disable");
            }
        }

        // for pass selected room info 
        $(".btn.next-btn").click(function () {
            goToNext();
        });

        function goToNext() {
            let selectedRooms = []; // Array to store selected room data

            // Iterate over each room to collect information
            $(".quantity").each(function () {
                const selectedRoomId = $(this).data("room-id");
                const selectedPackageId = $(this).data("package-id");
                const selectedRoomName = $(this).closest(".d-flex").find(".title-content h5").text().trim();
                const selectedRoomPrice = parseFloat($(this).closest(".col").find(".room-price").text().trim());
                const selectedRoomQuantity = parseInt($(this).find(".quantity__input").val());

                // Check if the quantity is greater than 0 before adding to selectedRooms
                if (selectedRoomQuantity > 0) {
                    const roomData = {
                        id: selectedRoomId,
                        name: selectedRoomName,
                        price: selectedRoomPrice,
                        quantity: selectedRoomQuantity,
                        package_id: selectedPackageId
                    };

                    selectedRooms.push(roomData);
                }
            });

            // Calculate total quantity and total price
            const totalQuantity = selectedRooms.reduce((total, room) => total + room.quantity, 0);
            const totalPrice = selectedRooms.reduce((total, room) => total + (room.price * room.quantity), 0);

            const responseArray = selectedRooms.map(room => {
                return {
                    r: room.id, // room_id
                    q: room.quantity, // room.quantity
                    p: room.package_id // package_id
                };
            });
            const pids = '<%= pids %>';
            const pidsjsonString = JSON.stringify(pids);
            const pidsbase64Encoded = btoa(pidsjsonString);

            const cid = '<%= cid %>';
            // const queryString = `?cid=${cid}&pids=${pidsbase64Encoded}`;
            if (responseArray.length == 0) {
                alert('Please select Room');
                location.reload();
            } else {
                var customer_id = '<%= cid %>';
                const jsonString = JSON.stringify(responseArray);

                // Encode the JSON string in base64
                const base64Encoded = btoa(jsonString);
                const pidjsonString = JSON.stringify(pids);
                const pidbase64Encoded = btoa(pidjsonString);
                const queryString = `?data=${base64Encoded}&cid=${customer_id}&pids=${pids}`;
                const cust_id = '<%= cid %>';
                const cust_idDecode = atob(cust_id);
                const cust_iDecodedData = JSON.parse(cust_idDecode);
                // Redirect to /package-tickets with the query string
                window.location.href = '/package-tickets' + queryString;
                fetch('/createOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ cid: cust_iDecodedData }),
                })
                    .then(response => response.json())
                    .then(data => {
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        }
    </script>
    <script>
        // jQuery code to handle the click event
        $(document).ready(function () {
            const customer_id = '<%= cid %>';
            const pids = '<%= pids %>';
            const jsonString = JSON.stringify(pids);
            const base64Encoded = btoa(jsonString);
            $("#previousButton").on('click', function () {
                const queryString = `?cid=${customer_id}`;
                window.location.href = '/select-event' + queryString;
            });
        });
    </script>
    <script>
        var pids = '<%= pids %>';

        var cid = '<%= cid %>';
    </script>

</body>

</html>